<div class="alinhamento">
  <div class="toolbar mt-3">
    <button mat-raised-button color="primary" class="mb-3" [routerLink]="['cadastrar-tarefa']">
      Cadastrar uma tarefa
    </button>
  </div>
  <div class="carro-list">
    <div *ngFor="let tarefa of tarefas" class="carro-card mat-elevation-z4">
      <div class="carro-header">
        <h3>{{ tarefa.nome }} - {{ tarefa.nome }}</h3>
      </div>
      <div class="carro-body">
        <p><strong>Quilometragem:</strong> {{ tarefa.descricao }} km</p>
        <p><strong>Concessionária:</strong> {{ tarefa.data }}</p>
        <p><strong>Categoria:</strong> {{ tarefa.status}}</p>
        <div class="buttons">
          <!-- <button mat-raised-button color="primary" [routerLink]="['editar-carro', carro.id]">Editar</button> -->
          <button mat-raised-button color="primary">Editar</button>
          <button mat-stroked-button class="excluir">Excluir</button>
          <button mat-outline-button class="favoritar">Favoritar</button>
          <button mat-outline-button class="comparar">Comparar</button>
        </div>
      </div>
    </div>
  </div>
</div>