<div class="alinhamento">
  <div class="toolbar mt-3">
    <button mat-raised-button color="primary" class="mb-3" (click)="abrirModalCadastro()">
      Cadastrar uma tarefa
    </button>
  </div>
  <div class="carro-list">
    <div *ngFor="let tarefa of tarefas" class="carro-card mat-elevation-z4">
      <div class="carro-header">
        <h2>{{ tarefa.data | date:'dd/MM/yyyy' }}</h2>
        <h3>{{ tarefa.nome }} - {{ tarefa.status }}</h3>
      </div>
      <div class="carro-body">
        <p><strong>Descrição:</strong> {{ tarefa.descricao }}</p>
        <div class="buttons">
          <button mat-raised-button color="primary" (click)="abrirModalEditar(tarefa)">Editar</button>
          <button mat-stroked-button class="excluir" *ngIf="tarefa.id !== undefined && tarefa.id !== null"
            (click)="excluirTarefa(tarefa.id)">
            Excluir
          </button>
          <button mat-outline-button class="favoritar">Favoritar</button>
        </div>
      </div>
    </div>
  </div>
</div>